<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Applications</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center mb-5">Applications</h1>
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card app-card">
          <img src="assets/images/learnweb.png" class="card-img-top" alt="تطبيق 1">
          <div class="card-body">
            <h5 class="card-title">learn web</h5>
            <p class="card-text">Master web development on the go. Interactive lessons, hands-on projects - build pro websites with ease</p>
            <a href="https://www.dropbox.com/scl/fi/ms88vh2sxckswbsxcrpp9/app-release.aab?rlkey=azg0uy87yagdedqn8jdgrhh16&st=msmvifpj&dl=0 " class="btn btn-primary">download</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card app-card">
          <img src="assets/images/music.jpg" class="card-img-top" alt="تطبيق 2">
          <div class="card-body">
            <h5 class="card-title"> music random</h5>
            <p class="card-text">Unleash a world of musical discovery. Tap and let the rhythm surprise you with endless random tunes</p>
            <a href="https://www.dropbox.com/scl/fi/fsm9jyqz9bgt601kh4t95/app-release.aab?rlkey=4s9qgawh4v0crwqh6qs8jm27g&st=5zp9nz2m&dl=0" class="btn btn-primary">download</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card app-card">
          <img src="assets/images/temp.jpg" class="card-img-top" alt="تطبيق 3">
          <div class="card-body">
            <h5 class="card-title">Temperature-Checker</h5>
            <p class="card-text">Instant temperature insights at your fingertips. Stay ahead of the weather with real-time temperature readings</p>
            <a href="https://www.dropbox.com/scl/fi/979ycvhhq2ieda4qugaij/app-release.aab?rlkey=fs8u20upkk1m9rzvlci53ngwh&st=j5usfg3a&dl=0" class="btn btn-primary">download</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="card app-card">
          <img src="assets/images/counter.jpg" class="card-img-top" alt="تطبيق 4">
          <div class="card-body">
            <h5 class="card-title">Counter App</h5>
            <p class="card-text">Count on precision, every time. Our intuitive counter app keeps track with ease and accuracy</p>
            <a href="https://www.dropbox.com/scl/fi/g0zyycya5vmp1czvofqdi/app-release.aab?rlkey=1050z4yqyz7f32ee03mv2x3i6&st=h0yaszek&dl=0" class="btn btn-primary">download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-4">
          <div class="card app-card">
            <img src="assets/images/password.jpg" class="card-img-top" alt="تطبيق 1">
            <div class="card-body">
              <h5 class="card-title">Password Generator</h5>
              <p class="card-text">Fortify your digital world with unbreakable passwords. Generate secure keys effortlessly with our smart app</p>
              <a href="https://www.dropbox.com/scl/fi/llqzxwxyr8a0mqeek1vct/app-release.aab?rlkey=5uuko6fyn8mbbup10l9j4mtjk&st=2yk0fiu7&dl=0" class="btn btn-primary">download</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card app-card">
            <img src="assets/images/lose.jpg" class="card-img-top" alt="تطبيق 2">
            <div class="card-body">
              <h5 class="card-title">Lose weight now <h5>
              <p class="card-text">Reshape your journey to a healthier you. Our app guides you with personalized plans for sustainable weight loss</p>
              <a href="https://www.dropbox.com/scl/fi/4ykgw53vhtz3dwvju5i5o/app-release.aab?rlkey=8bq3ody174redkjp1drfkp12g&st=jiiwc708&dl=0" class="btn btn-primary">download</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card app-card">
            <img src="assets/images/emoje.jpg" class="card-img-top" alt="تطبيق 3">
            <div class="card-body">
              <h5 class="card-title">Convert name to emoje/</h5>
              <p class="card-text">Express yourself in a whole new way. Turn any name into a unique emoji story with our fun app</p>
              <a href="https://www.dropbox.com/scl/fi/3todandgi48wlqbaj0373/app-release.aab?rlkey=4dvn38p6ywkkhxadwmq0vfq96&st=fwo4uffp&dl=0" class="btn btn-primary">download</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="card app-card">
            <img src="assets/images/basm ai 0.jpg" class="card-img-top" alt="تطبيق 4">
            <img src="assets/images/basm ai 2.jpg">
            <div class="card-body">
              <h5 class="card-title">Basem AI To Create Website</h5>
              <p class="card-text">Create an entire website in a minute with this artificial intelligence</p>
              <a href="bye.html" class="btn btn-primary">download</a>
            </div>
          </div>
        </div>
      </div>
      
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>